.demo-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

}

.demo-menu__link {
    padding: 6px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
}

.demo-menu__link:hover {
    background-color: #ddd;
    color: black;
}

.demo-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-menu-button {
    font-size: 14px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 1000;
    transition: right 0.5s, left 0.5s;

}

.demo-menu-button:hover {
    background-color: #333;
}